{
    "rules": {
        "indent": [
            1,
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": [
          0
        ]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
    ],
    "globals": {
      "angular": true,
      "module": true,
      "require": true,
      "__filename": false,
      "process": false,
      "describe": true,
      "it": true,
      "beforeEach": false,
      "afterEach": false,
      "sinon": false,
      "expect": false,
      "before": false,
      "after": false
    }
}
